.DS_Store
/.build
/Packages
xcuserdata/
DeriveredData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
Carthage/Build/
/.swiftpm
