language: swift
matrix:
  include:
    - os: osx
      osx_image: xcode10.2
    - os: osx
      osx_image: xcode9.4
    - os: linux
      dist: xenial
      services: docker
      env: DOCKER_IMAGE=swift:5.0.1-xenial
    - os: linux
      dist: xenial
      services: docker
      env: DOCKER_IMAGE=swift:4.1.3 SWIFT_SNAPSHOT=4.1.3
    - os: linux
      dist: trusty
script:
  - swift test
deploy:
  provider: script
  script: pod trunk push
  on:
    tags: true
